<div class="relative bg-white">
  <div class="pointer-events-none absolute inset-0 z-30 shadow" aria-hidden="true"></div>
  <div class="relative z-20">
    <div
      class="mx-auto flex max-w-7xl items-center justify-between py-5 px-6 sm:py-4 md:justify-start md:space-x-10 lg:px-8">
      <div>
        <a href="/" class="flex">
          <span class="sr-only">Jeff Devine</span>
          <img class="h-8 w-auto" src="{{ '/assets/images/jeff_devine_logo.png' | relative_url }}" </a>
      </div>
      <div class="md:flex md:flex-1 md:items-center md:justify-between">
        <nav class="flex space-x-10">
          <a href="/about"
            class="text-base uppercase tracking-widest font-medium text-sky-600 hover:text-sky-900">About</a>
          <a href="#" class="text-base uppercase tracking-widest font-medium text-sky-600 hover:text-sky-900">Blog</a>
        </nav>
      </div>
    </div>
  </div>
</div>
