<header class="bg-blue-700">
  <nav class="mx-auto max-w-7xl px-6 lg:px-8" aria-label="Top">
    <div class="flex w-full items-center justify-between border-b border-blue-500 py-6 lg:border-none">
      <div class="flex items-center">
        <a href="#">
          <span class="sr-only">Jeff Devine</span>
          <img class="h-8 w-auto" src="{{ '/assets/images/jeff_devine_logo.png' | relative_url }}" alt="">
        </a>
      </div>
      <div class="ml-10 justify-end space-x-8 lg:block">
        <a href="/about" class="text-base font-medium text-white hover:text-indigo-50">About</a>
        <a href="/blog" class="text-base font-medium text-white hover:text-indigo-50">Blog</a>
      </div>
    </div>
  </nav>
</header>
